body{
    font-family:Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    padding:30px;
    border-radius:9px;
    text-align: center;
}
input {
    width: 100%;
    padding:20px;
    margin-top: 20px;
}
result{
    margin-top: 15px;
    font-weight: bold;
}